html,
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}
.main {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
}
.main-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    /* "rows rows rows"
    "col chessboard col"
    "rows rows rows"; */
    "cols chessboard"
    "space rows";
}
.board {
  grid-area: chessboard;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}
.square {
  width: 80px;
  height: 80px;
}
.black {
  background-color: #769656;
  text-align: center;
}
.white {
  background-color: #eeeed2;
  text-align: center;
}
.piece {
  margin: 0;
  font-size: 48px;
  cursor: pointer;
}
.selected {
  background-color: yellow;
}
.colContainer {
  grid-area: rows;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
}
.colContainer div {
  width: 80px;
  text-align: center;
}
.rowContainer {
  grid-area: cols;
  height: 640px;
}
.rowContainer div {
  height: 80px;
  align-content: center;
}